	.gvIIContainer{
		position:relative;
		padding:10px 0 10px 10px;
	}
	.gvIIContainer .gvIIImgContainer{
		position:relative;
		overflow:hidden;
		margin-bottom:10px;
	}
	.gvIIContainer .gvIIImgContainer .gvIILoader{
		background: url(ajax-loader.gif) no-repeat center center;
		display:none;
	}
	.gvIIContainer .gvIIHolder{
		position:relative;
		overflow:auto;
	}
	.gvIIContainer .gvIIHolder .gvIIArrow{
	/*
		background:url(/experiments/jqGalViewII/common/img/arrow.png);
		width:20px;
		height:28px;
		position:absolute;
		margin-left:-15px;
		margin-top:-28px;
		z-index:99;
	*/
	}
	.gvIIContainer .gvIIHolder .gvIIItem{
		float:left;
		border:5px solid #fff;
		margin:2px;
		position:relative;
		overflow:hidden;
	}

	.gvIIContainer .gvIIHolder .gvIIItem .gvIIFlash{
		background:#fff;
		position:absolute;
		top:0;
		left:0;
		cursor:pointer;
	}
	.gvIIContainer .gvIIHolder .gvIIItem img{
		/*position:absolute;*/
		top:0;
		left:0;
		padding:0;
		margin:0;
		margin-left:0;
		margin-top:0;
		border:none;
		cursor:pointer;
	}